{% extends 'baseAdmin.html.twig' %}

{% block title %}Liste des utilisateurs
{% endblock %}

{% block body %}


	<!-- Layout wrapper -->
	<div class="layout-wrapper layout-content-navbar">
		<div
			class="layout-container">
			<!-- Layout container -->
			<div
				class="layout-page">

				<!-- Content wrapper -->
				<div
					class="content-wrapper">
					<!-- Content -->
					<div class="container-xxl flex-grow-1 container-p-y">
						<div class="row">
							<div class="col-lg-12 mb-4 order-0">
								<div class="card">
									<div class="d-flex align-items-end row">
										<div class="col-md-12">
											<div
												class="card-body">


												<!-- Contextual Classes -->

												<div class="card">
													<h5 class="card-header">Liste des demandes partenairs</h5>
													<div class="table-responsive text-nowrap">
														<table
															class="table">
															{# //display flash messages from controller #}
															{% for message in app.flashes('success') %}
																<div class="alert alert-success">
																	{{ message }}
																</div>
															{% endfor %}
															{% for message in app.flashes('error') %}
																<div class="alert alert-danger">
																	{{ message }}
																</div>
															{% endfor %}


															<thead>
																<tr>
																	<th>User</th>
																	<th>Nom</th>
																	<th>Prenom</th>
																	<th>E-mail</th>
																	<th>Age</th>
																	<th>Phone</th>
																	<th>Etat</th>
																	<th>Actions</th>
																</tr>
															</thead>
															<tbody class="table-border-bottom-0">

																{% for user in users %}

																	{% if loop.index == 1 %}
																		<tr class="table-secondary">
																		{% elseif loop.index == 2 %}
																			<tr class="table-primary">
																			{% elseif loop.index == 3 %}
																				<tr class="table-success">
																				{% elseif loop.index == 4 %}
																					<tr class="table-danger">
																					{% elseif loop.index == 5 %}
																						<tr class="table-warning">
																						{% elseif loop.index == 6 %}
																							<tr class="table-info">
																							{% elseif loop.index == 7 %}
																								<tr class="table-light">
																								{% elseif loop.index == 8 %}
																									<tr class="table-dark">
																									{% else %}
																										<tr class="table-info">
																										{% endif %}
																										{% set imageUrl = vich_uploader_asset(user, 'imageFile') %}
																										<td><img src="{{ asset(imageUrl) }}" alt="user-avatar" class="w-px-40 h-auto rounded-circle"></td>
																										<td>{{ user.nom }}
																										</td>
																										<td>{{ user.prenom }}</td>
																										<td>{{ user.email }}</td>
																										<td>{{ user.age }}</td>
																										<td>{{ user.phone }}</td>
																										{% if user.etat == 1 %}
																											<td>
																												<span class="badge bg-label-info me-1">Pending</span>
																											</td>
																										{% elseif user.etat == -2  %}
																											<td>
																												<span class="badge bg-label-danger me-1">Disapproved</span>
																											</td>
																										{% else %}
																											<td>
																												<span class="badge bg-label-success me-1">Well</span>
																											</td>
																										{% endif %}

																										<td>
																											<div class="dropdown">
																												<button type="button" class="btn p-0 dropdown-toggle hide-arrow" data-bs-toggle="dropdown">
																													<i class="bx bx-dots-vertical-rounded"></i>
																												</button>
																												<div class="dropdown-menu">
																													<form action="{{path('app_approveU',{'id':user.id})}}">
																														<button onclick="return confirm('Are you sure you want to approve this account?')" class="dropdown-item">
																															<i class='bx bxs-user-check'></i>
																															Approve
																														</button>
																													</form>
																													<form action="{{path('app_disapproveU',{'id':user.id})}}">
																														<button onclick="return confirm('Are you sure you want to disapprove this account?')" class="dropdown-item">
																															<i class='bx bx-block'></i>
																															Disapprove
																														</button>
																													</form>

																												</div>
																											</div>
																										</td>
																									</tr>


																								{% endfor %}


																							</tbody>
																						</table>
																					</div>
																				</div>
																				<!--/ Contextual Classes -->
																				<br>
																				<div class="pagination">
																					{{ knp_pagination_render(users, 'pagination.html.twig') }}
																				</div>


																			</div>
																		</div>

																	</div>
																</div>
															</tbody>
														</div>

													</div>
												</div>
												<!-- / Content -->

											</div>
											<!-- Content wrapper -->
										</div>
										<!-- / Layout page -->
									</div>

									<!-- Overlay -->
								</div>
								<!-- / Layout wrapper -->


							{% endblock %}


							{# data-toggle="modal" data-target="#exampleModal" #}
							{# <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
							                    <div class="modal-dialog" role="document">
							                      <div class="modal-content">
							                        <div class="modal-header">
							                              <h5 class="modal-title" id="exampleModalLabel">Edit Informations</h5>
							                        </div>
							                          <div class="modal-body">
							
							                              <form id="edit-user-form">
							                                {% for flash_message in app.session.flashbag.get('error') %}
							                                  <div class="alert alert-danger">{{ flash_message }}</div>
							                                {% endfor %}
							
							                                {% for flash_message in app.session.flashbag.get('success') %}
							                                  <div class="alert alert-success">{{ flash_message }}</div>
							                                {% endfor %}
							
							                                <input type="text" id="nom" name="nom"  />
							                                <input type="text" id="prenom"  name="prenom" />
							
							                                <div class="modal-footer">
							                                
							                                  <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
							                                  <button type="submit" class="btn btn-primary">Save changes</button>
							                                
							                                </div>
							
							                              </form>
							                          </div>
							                          
							                        </div>
							                      </div>
							                  </div>  #}

