{% extends 'baseAdmin.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
       <!-- Layout wrapper -->
    <div class="layout-wrapper layout-content-navbar">
      <div class="layout-container">
  

        <!-- Layout container -->
        <div class="layout-page">
          <!-- Navbar -->

  

          <!-- / Navbar -->

          <!-- Content wrapper -->
          <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">

              <div class="row">
                <div class="col-md-12">
                
                  <div class="card mb-4">
                    <h5 class="card-header">Profile Details</h5>
                    <!-- Account -->
                    <div class="card-body">
                      <div class="d-flex align-items-start align-items-sm-center gap-4">
                        <img
                          src="{{asset('DashAssets/img/avatars/1.png')}}"
                          alt="user-avatar"
                          class="d-block rounded"
                          height="100"
                          width="100"
                          id="uploadedAvatar"
                        />
                        <div class="button-wrapper">
                          <label for="upload" class="btn btn-primary me-2 mb-4" tabindex="0">
                            <span class="d-none d-sm-block">Upload new photo</span>
                            <i class="bx bx-upload d-block d-sm-none"></i>
                            <input
                              type="file"
                              id="upload"
                              class="account-file-input"
                              hidden
                              accept="image/png, image/jpeg"
                            />
                          </label>
                          <button type="button" class="btn btn-outline-secondary account-image-reset mb-4">
                            <i class="bx bx-reset d-block d-sm-none"></i>
                            <span class="d-none d-sm-block">Reset</span>
                          </button>

                          <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                        </div>
                      </div>
                    </div>
                    <hr class="my-0" />
                    <div class="card-body">
                   
                      <form id="formAccountSettings" method="POST" action="{{ path('update_profile') }}">
                      {# <input type="hidden" name="_token" value="{{ csrf_token() }}">
                      {{ form_widget(form._token) }} #}


                      {% for flash_message in app.session.flashbag.get('error') %}
                        <div class="alert alert-danger">{{ flash_message }}</div>
                      {% endfor %}

                      {% for flash_message in app.session.flashbag.get('success') %}
                        <div class="alert alert-success">{{ flash_message }}</div>
                      {% endfor %}


                    

                        <div class="row">
                          <div class="mb-3 col-md-6">
                            <label for="nom" class="form-label">Nom</label>
                            <input
                              class="form-control"
                              type="text"
                              id="nom"
                              name="nom"
                              value={{app.user.nom}}
                              autofocus
                            />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="prenom" class="form-label">Prenom</label>
                            <input class="form-control" type="text" name="prenom" id="prenom" value={{app.user.prenom}} />
                          </div>

                          
                           <div class="mb-3 col-md-6">
                            <label class="form-label" for="genre">Genre</label>
                            <div class="input-group input-group-merge">
                              <input
                                type="text"
                                id="genre"
                                name="genre"
                                class="form-control"
                                value={{app.user.genre}}
                                readOnly
                              />
                            </div>
                          </div>


                          <div class="mb-3 col-md-6">
                            <label for="age" class="form-label">Age</label>
                            <input
                              type="number"
                              class="form-control"
                              id="age"
                              name="age"
                              value={{app.user.age}}
                            />
                          </div>
                          <div class="mb-3 col-md-6">
                            <label class="form-label" for="phone">Phone Number</label>
                            <div class="input-group input-group-merge">
                              <span class="input-group-text">code (+216)</span>
                              <input
                                type="text"
                                id="phone"
                                name="phone"
                                class="form-control"
                                value={{app.user.phone}}
                              />
                            </div>
                          </div>
                          <div class="mb-3 col-md-6">
                            <label for="adresse" class="form-label">Address</label>
                            <input 
                              type="text" 
                              class="form-control" 
                              id="adresse" 
                              name="adresse" 
                              value={{app.user.adresse}} 
                            />
                          </div>
                         
                         
                         <div class="mb-3 col-md-6">
                            <label for="email" class="form-label">E-mail</label>
                            <input
                              class="form-control"
                              type="text"
                              id="email"
                              name="email"
                              value={{app.user.email}}
                              readOnly
                            />
                          </div>

                        </div>
                        <div class="mt-2">
                          <button type="submit" class="btn btn-primary me-2">Save changes</button>
                          <button type="reset" class="btn btn-outline-secondary">Cancel</button>
                        </div>
                      </form>

                    </div>
                    <!-- /Account -->
                  </div>
                  <div class="card">
                    <h5 class="card-header">Delete Account</h5>
                    <div class="card-body">
                      <div class="mb-3 col-12 mb-0">
                        <div class="alert alert-warning">
                          <h6 class="alert-heading fw-bold mb-1">Are you sure you want to delete your account?</h6>
                          <p class="mb-0">Once you delete your account, there is no going back. Please be certain.</p>
                        </div>
                      </div>
                      <form id="formAccountDeactivation" onsubmit="return false">
                        <div class="form-check mb-3">
                          <input
                            class="form-check-input"
                            type="checkbox"
                            name="accountActivation"
                            id="accountActivation"
                          />
                          <label class="form-check-label" for="accountActivation"
                            >I confirm my account deactivation</label
                          >
                        </div>
                        <button type="submit" class="btn btn-danger deactivate-account">Deactivate Account</button>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- / Content -->

       

            <div class="content-backdrop fade"></div>
          </div>
          <!-- Content wrapper -->
        </div>
        <!-- / Layout page -->
      </div>

      <!-- Overlay -->
      <div class="layout-overlay layout-menu-toggle"></div>
    </div>
    <!-- / Layout wrapper -->


{% endblock %}