{% extends 'base.html.twig' %}

{% block title %}Sign Up{% endblock %}

{% block body %}

<div class="limiter">
		<div class="container-login101">
			<div class="wrap-login100">
				<div class="login100-pic js-tilt" data-tilt>
					<img class="imgLogin" src="{{ asset('LoginAssets/images/login2.png')}}" alt="IMG">
				</div>

            {{ form_start(registerForm) }}

            <h2>Role Information</h2>
            {{ form_row(registerForm.roles) }}

            <hr>
            
            <h2>Personal Information</h2>
            <div class="wrap-sign100">
            {{ form_row(registerForm.nom) }}
            &nbsp;
            {{ form_row(registerForm.prenom) }}
            </div>
            <div class="wrap-sign100">
            {{ form_row(registerForm.age) }}
            <div class="select100">
            {{ form_row(registerForm.genre) }}
            </div>
            </div>
            {{ form_row(registerForm.ville) }}
            {{ form_row(registerForm.adresse) }}
            {{ form_row(registerForm.phone) }}
            {{ form_row(registerForm.image) }}

            <hr>

            <h2>Account Information</h2>
            {{ form_row(registerForm.email) }}
            {{ form_row(registerForm.password.first) }}
            {{ form_row(registerForm.password.second) }}
            

            {{ form_row(registerForm._token) }}
            <hr>
            <div class="text-center">
                {{ form_widget(registerForm.save, {'label': 'Register', 'attr': {'class': 'btn btn-primary'}}) }}
            </div>
            {{ form_end(registerForm) }}




			</div>
		</div>
	</div>


















{# <div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            {{ form_start(registerForm) }}

            <h2>Role Information</h2>
            {{ form_row(registerForm.roles) }}

            <hr>
            
            <h2>Personal Information</h2>
            {{ form_row(registerForm.nom) }}
            {{ form_row(registerForm.prenom) }}
            {{ form_row(registerForm.age) }}
            {{ form_row(registerForm.genre) }}
            {{ form_row(registerForm.ville) }}
            {{ form_row(registerForm.adresse) }}
            {{ form_row(registerForm.phone) }}
            {{ form_row(registerForm.image) }}

            <hr>

            <h2>Account Information</h2>
            {{ form_row(registerForm.email) }}
            {{ form_row(registerForm.password.first) }}
            {{ form_row(registerForm.password.second) }}
            

            {{ form_row(registerForm._token) }}
            <hr>
            <div class="text-center">
                {{ form_widget(registerForm.save, {'label': 'Register', 'attr': {'class': 'btn btn-primary'}}) }}
            </div>
            {{ form_end(registerForm) }}
        </div>
    </div>
</div> #}










{% endblock %}
